# Core
zmodule environment
zmodule input
zmodule completion
zmodule git

# Syntax highlighting → lo más temprano posible para evitar parpadeos
zmodule zdharma-continuum/fast-syntax-highlighting

# Autosuggestions → debe ir después del highlighting
zmodule zsh-users/zsh-autosuggestions

# History search → al final
zmodule zsh-users/zsh-history-substring-search
